{%extends 'html/base.html'%}
{%load static%}


{%block body_block%}
<div style="margin:80px;" class="d-none d-md-block box">
  <p style="text-align:center;padding:20px;">If you have any questions about chikkamaglur or want to book a trip to chikkamaglur feel free to contact us,our team will get in contact with you</p>

<h1 style="padding-left:10%;">Contact Us:</h1>
<a href="https://api.whatsapp.com/send?phone=+91-8277062747" style="padding-left:30%;color:white"><i class="fa fa-phone" style="font-size:36px;color:white;padding-right:10px;"></i> +91-8277062747</a>
<p>  </p>
<a href="https://api.whatsapp.com/send?phone=+91-6362755594" style="padding-left:30%;color:white"><i class="fa fa-phone" style="font-size:36px;color:white;padding-right:10px;"></i> +91-6362755594</a>
<p> </p>
<p style="padding-left:30%;"><a href="https://m.me/Chikkamagalure"<i class="fa fa-facebook" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Contact us on Messenger</p>
<h1 style="padding-left:10%">Social Media Platforms:</h1>
<div style="padding-left:30%;" class="">
  <p><a href="https://m.me/Chikkamagalure"<i class="fa fa-facebook" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Like us on facebook</p>
  <p ><a href="https://www.instagram.com/chikamagalur_theland_of_hills/?igshid=1d9eqz8jdliq4"<i class="fa fa-instagram" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Follow us on Instagam</p>
  <p><a href="https://www.youtube.com/channel/UChefcw3OEZqNxxLcaUzu73Q"<i class="fa fa-youtube" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Subscribe our channel on Youtube</p>
  <p><a href="https://twitter.com/Chikkamagaluru1?s=09"<i class="fa fa-twitter" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Follow us on twitter</p>


</div>
<div style="background-image:url({%static 'images/deva_1.jpg'%})" class="jumbotron">
  <div style="background-image:url(%static 'images/deva_1.jpg'%);width:inherit;height:fill;" class="  cusfon container">
    <h1 style="text-align:center;font-family:'Dancing Script',cursive" class="display-4">What do we offer?</h1>
    <p id="middle"  class="lead">The info about all the places in chikmagalur can be found </p>
    <p id="middle" class="lead">The unique aspects that chikmagalur has to offer,in finding the hidden places that only few know about</p>
    <p id="middle" class="lead">The restaurant recomendations,hotel bookings,the homestay bookings</p>
    <p id="middle" class="lead">We help you in booking of your trip</p>
  </div>
  <p style="text-align:center;" ><a href="https://www.facebook.com/Chikkamagalure/"<i id="fb" class="fa fa-facebook" style="font-size:36px;color:white;padding-right:10px;margin:20px;"></i> </a>  <a href="https://www.instagram.com/chikamagalur_theland_of_hills/?igshid=1d9eqz8jdliq4"<i id="in" class="fa fa-instagram" style="font-size:34px;color:white;"></i> </a>  <a href="https://www.youtube.com/channel/UChefcw3OEZqNxxLcaUzu73Q"<i id="yt" class="fa fa-youtube" style="font-size:36px;color:white;padding-right:10px;margin:20px;"></i> </a> <a id="tw" href="https://twitter.com/Chikkamagaluru1?s=09"<i class="fa fa-twitter" style="font-size:36px;color:white;padding-right:10px;margin:0px;"></i> </a></p>
</div>
<div style="padding-left:10%" class="about">

    <h1>About:</h1>
    <p style="padding-left:10%">The main aim of our page is to help you discover the beauty of nature in chikmagalur.Help you have a hassle free trip by organising your trips.Make the world see the beauty of malnad culture </p>


</div>

</div>
<div style="padding:1vw;padding-top:12vw;" class="d-md-none d-sm-block">
  <p style="text-align:center;padding:1vw;padding-bottom:4vw;">If you have any questions about chikkamaglur or want to book a trip to chikkamaglur feel free to contact us,our team will get in contact with you</p>

  <h1>Contact Us:</h1>


  <a href="https://api.whatsapp.com/send?phone=+91-8277062747" style="padding-left:20%;color:white"><i class="fa fa-phone" style="font-size:36px;color:white;padding-right:10px;"></i> +91-8277062747</a>

  <p>  </p>

  <a href="https://api.whatsapp.com/send?phone=+91-6362755594" style="padding-left:20%;color:white"><i class="fa fa-phone" style="font-size:36px;color:white;padding-right:10px;"></i> +91-6362755594</a>

  <p> </p>

  <p style="padding-left:20%;"><a href="https://m.me/Chikkamagalure"<i class="fa fa-facebook" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Contact us on Messenger</p>
  <h1 style="padding-top:6vw">Social Media Platforms:</h1>
  <div style="padding-left:20%;" class="">
    <p><a href="https://m.me/Chikkamagalure"<i class="fa fa-facebook" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Like us on facebook</p>
    <p ><a href="https://www.instagram.com/chikamagalur_theland_of_hills/?igshid=1d9eqz8jdliq4"<i class="fa fa-instagram" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Follow us on Instagam</p>
    <p><a href="https://www.youtube.com/channel/UChefcw3OEZqNxxLcaUzu73Q"<i class="fa fa-youtube" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Subscribe our channel on Youtube</p>
    <p><a href="https://twitter.com/Chikkamagaluru1?s=09"<i class="fa fa-twitter" style="font-size:36px;color:white;padding-right:10px;"></i> </a> Follow us on twitter</p>


  </div>
  <div style="padding:2vw;" class="d-md-none d-sm-block  mb-3">
    <div style="background-image:url({%static 'images/deva_mob.jpg'%})" class="jumbotron">
      <div style="background-image:url(%static 'images/deva_mob.jpg'%);width:inherit;height:inherit;;" class="  cusfon container">
        <h1 style="text-align:center;font-family:'Dancing Script',cursive" class="display-4">What do we offer?</h1>
        <p id="middle"  class="lead">The info about all the places in chikmagalur can be found </p>
        <p id="middle" class="lead">The unique aspects that chikmagalur has to offer,in finding the hidden places that only few know about</p>
        <p id="middle" class="lead">The restaurant recomendations,hotel bookings,the homestay bookings</p>
        <p id="middle" class="lead">We help you in booking of your trip</p>
      </div>
      <p style="text-align:center;" ><a href="https://www.facebook.com/Chikkamagalure/"<i id="fb" class="fa fa-facebook" style="font-size:36px;color:white;padding-right:10px;margin:20px;"></i> </a>  <a href="https://www.instagram.com/chikamagalur_theland_of_hills/?igshid=1d9eqz8jdliq4"<i id="in" class="fa fa-instagram" style="font-size:34px;color:white;"></i> </a>  <a href="https://www.youtube.com/channel/UChefcw3OEZqNxxLcaUzu73Q"<i id="yt" class="fa fa-youtube" style="font-size:36px;color:white;padding-right:10px;margin:20px;"></i> </a> <a id="tw" href="https://twitter.com/Chikkamagaluru1?s=09"<i class="fa fa-twitter" style="font-size:36px;color:white;padding-right:10px;margin:0px;"></i> </a></p>
    </div>

</div>
<div style="padding-left:%" class="about">

    <h1>About:</h1>
    <p style="padding-left:10%">The main aim of our page is to help you discover the beauty of nature in chikmagalur.Help you have a hassle free trip by organising your trips.Make the world see the beauty of malnad culture </p>


</div>
</div>



<style media="screen">
.jumbotron{

content: fill;
  margin:40px;
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.12);
      border-radius: 10px;

}
.jumbotron .container p{
text-align: center;
}
.fa {

  font-size: 30px;
  width: 50px;
  height:50px;
  padding:10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.faa:hover {
    opacity: 0.7;
}
#fb{
  background: #3B5998;
  color: white;
}
#tw {
  background: #55ACEE;
  color: white;
}
#yt {
  background: #bb0000;
  color: white;
}
#in {
  background: #125688;
  color: white;
}

body,html{
  height:100%
}
.three{
  height:100%;
}


.box{
  margin:40px;
  font-size:22px;
  padding:10px;
  margin-bottom:20vw;
  border-radius: 10px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}
.cards-list {
z-index: 0;
width: 100%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.card {
margin: 30px auto;
width: 80vw;
height: inherit;
border-radius: 10px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
cursor: pointer;
background-color: black;
transition: 0.4s;
}

.card .card_image {
width: inherit;
height: inherit;
border-radius: 10px;
}

.card .card_image img {
width: inherit;
height: inherit;
border-radius: 10px;
object-fit: cover;
}

.card .card_title {
text-align: center;
border-radius: 0px 0px 40px 40px;

font-weight: bold;
font-size: 30px;
margin-top: -80px;
height: 40px;
}

.card:hover {
transform: scale(0.9, 0.9);
box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
-5px -5px 30px 15px rgba(0,0,0,0.22);
}

.style-1 {
  border:3px solid white;
  color:white;

  text-transform:uppercase;
  padding:10px;
  font-weight:600;
  max-width:250px;
  display:block;
  text-align:center;
  margin:10px auto;
  position:relative;
}
.style-2{
  border:0.5vw solid white;
  color:white;

  text-transform:uppercase;
  padding:3vw;
  font-weight:600;
  max-width:250px;
  display:block;
  text-align:center;
  margin:3vw auto;
  position:relative;

}
.style-1:hover {
  background:#000;
  border-color:white;
  color:#fff;
}
.cus{
  width: 100%;
}
.alll{
  width:100%;
  padding:20px;
}
#leftie{
  float:left;
}
#rightie{
  float:right;
}
</style>


{%endblock%}
